configuration/home-*
configuration/.storage/auth
configuration/.storage/auth_provider.homeassistant
configuration/.ssh/
configuration/secrets.yaml
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/install_manifest.txt
__pycache__/
src/__pycache__/

