[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/yuso/dev/mqtt/main.py

[Install]
WantedBy=multi-user.target

