[Unit]
Description=My Script Service
After=dbus.service
Wants=network.target

[Service]
Type=idle
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/yurii/homeControll/main.py

[Install]
WantedBy=multi-user.target

