[Unit]
Description=My Script Service
#After=dbus.service
#Wants=network.target

After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=idle
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/yuso/homeControll/main.py
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target

